:root {
  --text-putih: #ffffff;
  --text-gray-400: rgb(156 163 175);
  --bg-dark: #121b22;
  --bg-light: #ffffff;
  --bg-gray: #2a2f32;
  --bg-bubble-left: #212e36;
  --bg-bubble-right: #005c4b;
  --bg-alert: #212e36;
  --bg-header: #121b22;
  --bg-ketik-pesan: #2a2f32;
  --bg-ketik-pesan-border: #110303;
  --bg-textarea-ketik: #3b4a54;
  --bg-mic-send: #00a884;
  --bg-gulir: #283337;
  --bg-teks-peringatan: #fcd34d;
  --bg-tanggal-hari: #212e36;
  --bg-teks-tanggal-hari: #9ca3af;
  --bg-fa-battery-full: #ecfccb;
  --bg-animation-battery: #ecfccb;
  --bg-modal: #0b141b;
  --bg-button-pelajari: #21c063;
  --bg-title: #f9fcfc;
  --bg-lock-icon: #f9fcfc;
  --bg-dropdown-menu: #2a2f32;
  --bg-dropdown-menu-hover: #3b4a54;
  --bg-image-dark: url("img/bg_gelap.jpeg");
  --bg-image-light: url("img/bg_terang.jpeg");
  --bubble-after-left: linear-gradient(
    223deg,
    #212e36 0%,
    #212e36 50%,
    transparent 50%,
    transparent
  );
  --bubble-after-right: linear-gradient(
    135deg,
    #005c4b 0%,
    #005c4b 50%,
    transparent 50%,
    transparent
  );
}

/* Start Body Styles */
body {
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; */
  background-color: var(--bg-dark);
  color: var(--text-putih);
}
/* End Body Styles */

/* Start Text Colors */
.text-putih {
  color: var(--text-putih);
}

.text-gray-400 {
  color: var(--text-gray-400);
}
/* End Text Colors */

/* Start Header Styles */
.header {
  background-color: var(--bg-header);
}
/* End Header Styles */

/* Start Chat Bubble Styles */
.chat-bubble {
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

.chat-bubble-left {
  background-color: var(--bg-bubble-left);
}

.chat-bubble-right {
  background-color: var(--bg-bubble-right);
}

.chat-bubble::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
}

.chat-bubble-left::after {
  left: -10px;
  background: var(--bubble-after-left);
}

.chat-bubble-right::after {
  right: -10px;
  background: var(--bubble-after-right);
}
/* End Chat Bubble Styles */

/* Start Chat Bubble Yesterday Styles */
.chat-bubble-kemarin {
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

.chat-bubble-kemarin::after {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, transparent 50%, #2a2f32 50%);
}
/* End Chat Bubble Yesterday Styles */

/* Start Alert Styles */
.peringatan {
  background-color: var(--bg-alert);
}
/* End Alert Styles */

/* Start Input Styles */
.ketik-pesan {
  background-color: var(--bg-ketik-pesan);
  border-top: 2px solid var(--bg-ketik-pesan-border);
}

.textarea-ketik {
  background-color: var(--bg-textarea-ketik);
}

textarea {
  resize: none;
  overflow: hidden;
}

.mic-send {
  background-color: var(--bg-mic-send);
}

.gulir {
  background-color: var(--bg-gulir);
}
/* End Input Styles */

/* Start Peringatan Styles */
.teks-peringatan {
  color: var(--bg-teks-peringatan);
}
/* End Peringatan Styles */

/* Start Date Styles */
.tanggal-hari {
  background-color: var(--bg-tanggal-hari);
}

.teks-tanggal-hari {
  color: var(--bg-teks-tanggal-hari);
}
/* End Date Styles */

/* Start Icon Styles */
.fa-battery-full {
  color: var(--bg-fa-battery-full);
}

.animation-battery {
  color: var(--bg-animation-battery);
}
/* End Icon Styles */

/* Start Background Styles */
.bg-image {
  background-image: var(--bg-image-dark);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
/* End Background Styles */

/* Start Miscellaneous Styles */
.hidden {
  display: none;
}

#searchInput {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
/* End Miscellaneous Styles */

/* Start Fixed Position Styles */
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 10;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
}
/* End Fixed Position Styles */

/* Start Dropdown Menu Styles */
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--bg-dropdown-menu);
  color: var(--bg-title);
  border-radius: 5px;
  overflow: hidden;
  z-index: 20;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--bg-title);
}

.dropdown-menu a:hover {
  background-color: var(--bg-dropdown-menu-hover);
}

.dropdown-menu .more::after {
  content: "\f0da";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: gray;
}
/* End Dropdown Menu Styles */

/* Start Popup Styles */
.popup {
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-header);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 30;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.popup-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  background: linear-gradient(to bottom, #745de9 50%, #7f66ff 50%);
  color: white;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 40px;
  height: 40px;
}

.icon-container.bg-blue-500 {
  background: linear-gradient(to bottom, #745de9 50%, #7f66ff 50%);
}

.icon-container.bg-green-500 {
  background: linear-gradient(to bottom, #e82b6d 50%, #fd2e74 50%);
}
.icon-container.bg-red-500 {
  background: linear-gradient(to bottom, #b659e5 50%, #c860fd 50%);
}
.icon-container.bg-yellow-500 {
  background: linear-gradient(to bottom, #e45d30 50%, #f96633 50%);
}
.icon-container.bg-purple-500 {
  background: linear-gradient(to bottom, #1d9950 50%, #18ad62 50%);
}
.icon-container.bg-orange-500 {
  background: linear-gradient(to bottom, #0090cf 50%, #009de0 50%);
}
.icon-container.bg-teal-500 {
  background: linear-gradient(to bottom, #02988c 50%, #03a598 50%);
}
.icon-container.bg-gray-500 {
  background: linear-gradient(to bottom, #e82b6d 50%, #fc2d76 50%);
}

.popup.hidden {
  display: none;
}

.popup-item p {
  margin-top: 5px;
  font-size: 0.6rem;
  color: #90999e;
}
/* End Popup Styles */

/* Start Alert Warning Styles */
.alert-warning {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  transition: top 0.5s ease;
  background-color: #ffeb3b;
  padding: 10px;
}

.alert-warning.show {
  top: 10px;
}

.alert-warning.hidden {
  top: -100px;
}

.close-button {
  margin-left: 10px;
  background: none;
  border: none;
  font-weight: bold;
}
/* End Alert Warning Styles */

/* Start Modal Styles */
.modal {
  position: fixed;
  top: 205;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  animation: slideIn 0.3s;
  border-radius: 35px;
}

.modal-content {
  background-color: var(--bg-modal);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  margin-top: 5%;
  position: relative;
  color: white;
  text-align: center;
}

.close-button-peringatan {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: var(--bg-title);
}

.title {
  color: var(--bg-title);
}

.lock-icon {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--bg-lock-icon);
}

.description {
  color: #7b8489;
  text-align: center;
  margin: 10px 0;
  font-size: 0.8rem;
}

.button-pelajari {
  font-weight: 600;
  font-size: 0.8rem;
  background-color: var(--bg-button-pelajari);
  color: var(--bg-modal);
  text-align: center;
}
/* End Modal Styles */

/* Start List Item Styles */
.list-item {
  color: #7b8489;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin: 5px 0;
  text-align: left;
}

.list-item i {
  margin-right: 10px;
}
/* End List Item Styles */

/* Start Scroll Line Styles */
.line-scroll {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
  background-color: #ccc;
  border-radius: 2.5px;
  z-index: 1;
  cursor: grab;
}

.line-scroll:active {
  cursor: grabbing;
}
/* End Scroll Line Styles */

/* Start Modal Popup Styles */
#modalPopup {
  overflow-y: auto;
  max-height: 80vh;
}
/* End Modal Popup Styles */

/* Start Animations */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.slide-out {
  animation: slideOut 0.3s forwards;
}
/* End Animations */

/* Start Camera Modal Styles */
.modal-camera {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-camera-content {
  position: relative;
  width: 100%;
  height: 100%;
}

#video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* End Camera Modal Styles */

/* Start Responsive Styles */
.w-fufufafa {
  width: 85%;
}

@media (min-width: 650px) and (max-width: 750px) {
  .w-fufufafa {
    width: 90%;
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .w-fufufafa {
    width: 95%;
  }
}
/* End Responsive Styles */
